.emacs.d/elpa/*
.emacs.d/.cask
.emacs.d/url/cookies*
.emacs.d/tramp
.emacs.d/places
.emacs.d/backups/*
.emacs.d/auto-save-list/*
.emacs.d/ac-comphist.dat
.emacs.d/.smex-items

.i3/config
.i3/ipc.sock

.vim/backup/
.vim/.netrwhist
/bin/Gemfile.lock
/bin/ctmatch
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/projectile.cache
