.emacs.d/elpa/*
.emacs.d/url/cookies*
.emacs.d/tramp
.emacs.d/places
.emacs.d/backups/*
.emacs.d/auto-save-list/*
.emacs.d/ac-comphist.dat
.emacs.d/.smex-items

.i3/config

.vim/backup/
.vim/.netrwhist
/bin/Gemfile.lock
